<div class="jumbotron"  style="padding:40px;">
  <h1>#HackAirThon-Anmeldung</h1>


  <form id="sbumitform" action="submitted" method="POST">
  <div class="form-group">
    <label for="name">Vor- und Nachname</label>
    <input type="name" class="form-control" id="name" name="name">
  </div>
  <div class="form-group">
    <label for="age">Alter</label>
    <input type="age" class="form-control" id="age" name="age">
  </div>
  <div class="form-group">
    <label for="email">Email Addresse:</label>
    <input type="email" class="form-control" id="email" name="email">
  </div>
  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" id="relation" name="relation">Ich bin:
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li>Student</li>
      <li>Angestellter</li>
      <li>Sonstiges</li>
    </ul>
  </div>
  <div class="checkbox">
    <label><input type="checkbox" id="isTeam" name="isTeam">Ich habe bereits ein Team:</label>
  </div>
  <button type="submit" class="btn btn-success" name="sign">Anmelden</button>
</form>


</div>

