<div class="jumbotron"  style="padding:40px;">
  <h1>#HackAirThon-Anmeldung</h1>
  <p>Schön dass Du zu uns gefunden hast. Wir heißen dich bereits jetzt schon herzlich zum <b>OC Hackathon 2018</b> willkommen.</p>
  <p></p>
  <p>Was wird Dir geboten?</p>
  <ul style="list-style-type: square;">
  	<li>Verpflegung und Getränke für den ganzen Tag</li>
  	<li>Super spannende Themen rund um die Softwareentwicklung</li>
  	<li>Wahrscheinlich der erste <b>Open Air Hackathon</b> zum Thema "Lorem Ipsum Dolor" am SeaSide Beach in Essen</li>
  	<li>Augmented/Virtual Reality zum Anfassen</li>
  	<li>zwei Vorträge über "dies" und "das" von Kollege "O" und "A"!</li>
  	<li>Cocktailbar</li>
  	<li>Eine Tombola</li>
  	<li>Tilnahmeurkunde!</li>
  	<li>Nette Menschen zum austauschen und netzwerken.</li>
  	<li>Eine kleine Überraschung für jeden Teilnhemer ;-) </li>
  </ul>
  <p>Also worauf wartest du? Fülle nachfolgendes Formular aus, damit wir den Tag für Dich optimal planen und gestalten können.</p>
  <p>Wir freuen uns bereits jetzt auf dich!</p>

</div>

